<!-- <div id="welcome">
  <h1>
    Welcome
    <br>
    <br>
    <br>
{{user?.profile?.name}}
{{user?.profile?.role}}
  </h1>
</div> -->

<div id="welcome">
  <div class="welcome-container">
    <div>
      <h1>
        Hello!
        <span>{{user?.profile?.name}}</span>
      </h1>

      <h2 class="subtitle">Welcome back to Hawkeye!</h2>

      <p class="tagline">Securing Tomorrow, Today.</p>

      <button class="cta-button" color="primary" type="button" routerLink="/video-player" routerLinkActive="active">Show Live Cameras</button>

    </div>

    <div>
      <img src="/assets/welcome.png" alt="" />
    </div>
  </div>
</div>