<!-- <div id="welcome">
  <h1>
    Welcome1
    {{currentUser.fName}}
  </h1>
</div> -->

<div id="welcome">
  <div class="welcome-container">
    <div>
      <h1>
        Hello!

        <span>{{ currentUser.fName }}</span>
      </h1>

      <h2 class="subtitle">Welcome back to Hawkeye!</h2>

      <p class="tagline">Securing Tomorrow, Today.</p>

      <a class="cta-button" href="/video-player" type="button"> Play Video </a>
    </div>

    <div>
      <img src="/assets/welcome.png" alt="" />
    </div>
  </div>
</div>
