<main class="main">
  <header>
    <mat-toolbar color="primary">
      
      <span id="logo" routerLink="/home" routerLinkActive="active">Hawkeye</span>
      
      <span class="example-spacer"></span>

      <button mat-raised-button color="primary" type="button" routerLink="/video-player" routerLinkActive="active">Live Cameras</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button id="addUser" mat-raised-button color="primary" type="button" (click)="addUser()" hidden>Add user</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button id="user" mat-raised-button color="secondary" type="button" [matMenuTriggerFor]="personal_menu">
        Guest
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-menu #personal_menu="matMenu">
        <button mat-menu-item (click)="logout()">Sign out</button>
      </mat-menu>

    </mat-toolbar>
  </header>
  <router-outlet/>
</main>
