<main class="main">
  <header>
    <mat-toolbar color="primary">
      
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      
      <span id="logo" routerLink="/home" routerLinkActive="active">Hawkeye</span>
      
      <span class="example-spacer"></span>
      
      <button mat-raised-button color="primary" type="button" (click)="login()">Sign in</button>

      <button mat-raised-button color="primary" type="button" routerLink="/video-player" routerLinkActive="active">Video Player</button>

      <button mat-raised-button color="primary" type="button" routerLink="/users" routerLinkActive="active">Users</button>

      <button mat-raised-button color="secondary" type="button" [matMenuTriggerFor]="personal_menu">Guest</button>

      <mat-menu #personal_menu="matMenu">
        <button mat-menu-item routerLink="/users/edit-users" routerLinkActive="active">Edit Profile</button>
        <button *ngIf="this.user?.profile?.role === 'Admin'" mat-menu-item (click)="addUser()">Add user</button>
        <button mat-menu-item (click)="logout()">Sign out</button>
      </mat-menu>

    </mat-toolbar>
  </header>
  <router-outlet/>
</main>
